@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: var(--color-white)
}

 :root {
    --color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-lightblue: #2196f3;
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;
    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
    --transition: all 400ms ease;
}

body {
    font-family: 'montserrat', sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
    scroll-behavior: smooth;
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

.btn:hover {
    background: transparent;
    color: var(--color-white);
    border: var(--color-white);
}

.btn-primary {
    background: var(--color-danger);
    color: var(--color-white);
}


/* ---------------- NAVBAR --------------------- */

nav {
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

.nav_container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    display: none;
}

.nav_menu {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav_menu a {
    font-size: 0.9rem;
    transition: var(--transition);
}

.nav_menu a:hover {
    color: var(--color-bg2);
}


/* ----------------- HEADER ------------------ */

header {
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
}

.header_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.header_left p {
    margin: 1rem 0 2.4rem;
}


/* ------------- COURSES STYLING --------------- */

.courses_right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.courses_right .box {
    position: relative;
    width: 300px;
    height: 250px;
    padding: 40px;
    background: var(--color-bg1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    border-radius: 18px;
    margin: 0px 30px 20px 29px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}

.courses_right .box .icon {
    position: relative;
    top: -20px;
    width: 80px;
    height: 80px;
    color: #fff;
    background: var(--color-bg1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 45px;
    font-weight: 700;
    transition: 1s;
}


/* BOX 1 */

.courses_right .box:nth-child(1) .icon {
    box-shadow: 0 0 0 0 var(--color-bg);
    background: var(--color-bg1);
}

.courses_right .box:nth-child(1):hover .icon {
    background: var(--color-bg);
    box-shadow: 0 0 0 400px var(--color-bg);
}


/* BOX 2 */

.courses_right .box:nth-child(2) .icon {
    box-shadow: 0 0 0 0 var(--color-bg);
    background: var(--color-bg1);
}

.courses_right .box:nth-child(2):hover .icon {
    background: var(--color-bg);
    box-shadow: 0 0 0 400px var(--color-bg);
}


/* BOX 3 */

.courses_right .box:nth-child(3) .icon {
    box-shadow: 0 0 0 0 var(--color-bg);
    background: var(--color-bg1);
}

.courses_right .box:nth-child(3):hover .icon {
    background: var(--color-bg);
    box-shadow: 0 0 0 400px var(--color-bg);
}


/* BOX 4 */

.courses_right .box:nth-child(4) .icon {
    box-shadow: 0 0 0 0 var(--color-bg);
    background: var(--color-bg1);
}

.courses_right .box:nth-child(4):hover .icon {
    background: var(--color-bg);
    box-shadow: 0 0 0 400px var(--color-bg);
}


/* BOX 5 */

.courses_right .box:nth-child(5) .icon {
    box-shadow: 0 0 0 0 var(--color-bg);
    background: var(--color-bg1);
}

.courses_right .box:nth-child(5):hover .icon {
    background: var(--color-bg);
    box-shadow: 0 0 0 400px var(--color-bg);
}


/* BOX 6 */

.courses_right .box:nth-child(6) .icon {
    box-shadow: 0 0 0 0 var(--color-bg);
    background: var(--color-bg1);
}

.courses_right .box:nth-child(6):hover .icon {
    background: var(--color-bg);
    box-shadow: 0 0 0 400px var(--color-bg);
}

.courses_right .box .content {
    position: relative;
    top: -10px;
    z-index: 1;
    transition: 0.5s;
}

.courses_right .box .content h3 {
    font-size: 20px;
    margin: 0 0;
    padding: 0;
}

.courses_right .box .content p {
    font-size: 15px;
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

.courses_left {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0 2rem 0;
}

.window-scroll {
    background: var(--color-primary);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}


/* POPULAR COURSES */

.pcourse_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.pcourse {
    background: var(--color-bg1);
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.pcourse:hover {
    background: transparent;
    border-color: var(--color-primary);
}

.pcourse_info {
    padding: 2rem;
}

.pcourse_info p {
    margin: 1.2rem 0 2rem;
    font-size: 0.9rem;
}


/* ------- FAQ SECTION STYLING -------- */

.faqs {
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.faqs_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.faq {
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    background: var(--color-primary);
    cursor: pointer;
}

.faq h4 {
    font-size: 1rem;
    line-height: 2.2;
}

.faq_icon {
    align-self: flex-start;
    font-size: 1.2rem;
}

.faq p {
    margin-top: 0.8rem;
    display: none;
}

.faq.open p {
    display: block;
}